<nav class="breadcrumb is-centered" ng-hide="!bandName" aria-label="breadcrubs">
  <ul>
    <li><a href="/#!/songs">all</a></li>
    <li class="is-capitalized is-active"><a href="#">{{ bandName }}</a></li>
  </ul>
</nav>

<div class="box">
  <div class="title has-text-centered is-capitalized">
    {{ title }}
  </div>
  <progress ng-if="isProgress" class="progress is-primary" max="100"></progress>
  <div ng-if="!isProgress && !songs.length" class="has-text-centered">
    You don't have any songs yet...
  </div>
  <table ng-if="!isProgress && songs.length" class="table is-striped is-hoverable is-fullwidth has-text-centered">
    <thead>
      <tr>
        <th class="is-size-5">Song title</th>
        <th class="is-size-5">Band name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in songs">
        <td class="is-capitalized has-text-weight-bold">
          <a class="has-text-dark" href="/#!/song/{{song.band}}/{{song.title}}">{{ song.title }}</a>
        </td>
        <td class="is-capitalized">
          <a class="has-text-dark" href="/#!/songs/{{song.band}}">{{ song.band }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="notification is-danger is-fixed-top-right">
  <button class="delete" ng-click=hideErrorNotif()></button>
  {{ errorMessage }}
</div>
