<nav class="breadcrumb is-centered" aria-label="breadcrubs">
  <ul>
    <li><a href="/#!/songs">all</a></li>
    <li class="is-capitalized"><a href="/#!/songs/{{ bandName }}">{{ bandName }}</a></li>
    <li class="is-active is-capitalized"><a href="#">{{ songTitle }}</a></li>
  </ul>
</nav>

<div class="box has-text-centered">
  <div class="title is-capitalized">{{ songTitle }}</div>
  <div class="subtitle is-capitalized">{{ bandName }}</div>
  <pre ng-hide="isProgress">
    {{ lyrics }}
  </pre>

  <progress ng-hide="!isProgress" class="progress is-primary" max="100"></progress>
</div>

<div class="notification is-danger is-fixed-top-right {{ isErrorHidden }}">
  <button class="delete" ng-click=hideErrorNotif()></button>
  {{ errorMessage }}
</div>