<nav class="navbar is-white has-shadow  is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="display: flex;justify-content: center;">
    <a class="navbar-item" href="/">
      <img src="/assets/logo.svg" style="max-height: 80px" alt="logo" class="py-2 px-2">
      <span class="is-size-5">Lyrics <br/><span class="has-text-weight-bold">AngularJS</span></span>
    </a>
  </div>
  <div class="navbar-menu is-active" style="display: flex;justify-content: center;">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <span class="has-text-weight-bold">My songs</span>
          </a>
          <a class="button is-primary">
            <span class="has-text-weight-bold">My bands</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>