<nav class="navbar is-white has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/logo.svg"  alt="logo" class="image is-64x64">
      <span class="is-size-5">Lyrics <br/><span class="has-text-weight-bold">AngularJS</span></span>
    </a>

    <a role="button" class="navbar-burger p-6" ng-click="toggleDropdown()" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu {{ isActive }}">
    <div class="navbar-start px-6">
      <a class="navbar-item px-4" href="/new">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span class="has-text-weight-bold">New song</span>
        </span>
      </a>
      <a class="navbar-item px-4" href="/songs"><span class="icon-text">
        <span class="icon">
          <i class="fas fa-music"></i>
        </span>
        <span class="has-text-weight-bold">My playlist</span>
      </span>
      </a>
      <a class="navbar-item px-4" href="/bands"><span class="icon-text">
        <span class="icon">
          <i class="fas fa-users"></i>
        </span>
        <span class="has-text-weight-bold">My bands</span>
      </span>
      </a>
    </div>
    <div class="navbar-end px-6">
      <a class="navbar-item px-4"><span class="icon-text">
        <span class="icon">
          <i class="fas fa-cogs"></i>
        </span>
        <span class="has-text-weight-bold">Settings</span>
      </span>
      </a>
    </div>
  </div>
</nav>