<div class="box">
  <div class="title has-text-centered">
    Find new song
  </div>
  <div class="content">
    <div class="field">
      <label for="songTitle" class="label">Song title</label>
      <div class="control has-icons-left">
        <input class="input is-primary" type="text" ng-model="songTitle" id="songTitle" name="songTitle" placeholder="Song title">
        <span class="icon is-small is-left">
          <i class="fas fa-music"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label for="bandName" class="label">Band name</label>
      <div class="control has-icons-left">
        <input class="input is-primary" type="text" ng-model="bandName" id="bandName" name="bandName" placeholder="Band name">
        <span class="icon is-small is-left">
          <i class="fas fa-users"></i>
        </span>
      </div>
    </div>
    
    <div class="buttons is-centered">
      <button class="button is-primary m-4" ng-click="find()" ng-disabled="!songTitle || !bandName">Find song</button>
    </div>
  </div>
</div>

<div class="notification is-danger is-fixed-top-right {{ isHidden }}">
  <button class="delete" ng-click=hideNotif()></button>
  {{ message }}
</div>

<div class="notification is-danger is-fixed-top-right {{ isErrorHidden }}">
  <button class="delete" ng-click=hideErrorNotif()></button>
  {{ errorMessage }}
</div>
