<div class="box has-text-centered">
  <div class="title">
    Set theme
  </div>
  <div class="buttons is-centered">
    <button class="button is-primary" ng-click="setPrimaryTheme('is-primary')">Turquoise theme</button>
    <button class="button is-link" ng-click="setPrimaryTheme('is-link')">Blue theme</button>
    <button class="button is-info" ng-click="setPrimaryTheme('is-info')">Cyan theme</button>
    <button class="button is-success" ng-click="setPrimaryTheme('is-success')">Green theme</button>
    <button class="button is-warning" ng-click="setPrimaryTheme('is-warning')">Yellow theme</button>
    <button class="button is-danger" ng-click="setPrimaryTheme('is-danger')">Red theme</button>
  </div>
</div>